.alert-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.error{
    background-color: #ff4040;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid darkred;
}

.warning{
    background-color: #fff44f;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #ebeb00;
}

.success{
    background-color: lightgreen;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid green;
}

.info{
    background-color: skyblue;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid blue;
}