:root{
    --error-background: #ff4040;
    --error-border: darkred;
    --warning-background: #fff44f;
    --warning-border: #ebeb00;
    --info-background: skyblue;
    --info-border: blue;
    --success-background: lightgreen;
    --success-border: green;

}


.alert-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.alert-error{
    background-color: var(--error-background);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--error-border);
}

.alert-warning{
    background-color: var(--warning-background);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--warning-border);
}

.alert-info{
    background-color: var(--info-background);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--info-border);
}

.alert-success{
    background-color: var(--success-background);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--success-border);
}