.avatar-container{
    display: flex;
    /* width: auto;  */
    justify-content: space-around; 
    align-items: center;
    border: 0.1px solid rgb(53, 28, 28);
    border-radius: 3rem;
    background-color: var(--primary-color);
    /* height: auto;
    flex-wrap: wrap; */
}

.avatar{
    border-radius: 99rem;
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
}

/* .language-html{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
*/

.avatar-one{
    background-color: pink;
}

.avatar-two{
    background-color: lightslategray;
}


.avatar-three{
    background-color: lightskyblue;
}

    
.avatar-four{
    background-color: lightseagreen;
}

    
.avatar-five{
    background-color: lightgrey;
}

.avatar-name{
    display: flex;
    justify-content: center;
    align-items: center;
}


.size-one{
    height: 2rem;
    width: 2rem;
}
.size-two{
    height: 4rem;
    width: 4rem;
}
.size-three{
    height: 6rem;
    width: 6rem;
}
.size-four{
    height: 8rem;
    width: 8rem;
}
.size-five{
    height: 10rem;
    width: 10rem;
}
.size-six{
    height: 12rem;
    width: 12rem;
}
.size-seven{
    height: 14rem;
    width: 14rem;
}
.size-eight{
    height: 16rem;
    width: 16rem;
}
