:root{
    --add-to-cart-btn-color: #4267B2;
    --delete-btn-color: #D11A2A;
}

.button-container{
    background-color: var(--secondary-container-color);
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    padding: 1rem;
    border-radius: 2rem;
}

.button-text{
    color: var(--primary-color);
    font-weight: 600;  
}

.button-contained{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.7rem;
    font-weight: 600;
}

.button-outlined{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: 600;
}

.button-icon-size{
    height: 20px;
    width: 20px;
}

.add-to-cart-button, .delete-button, .send-button{
    display: flex;
    column-gap: 8px;
}

.add-to-cart-button{
    background-color: var(--add-to-cart-btn-color);
}

.delete-button{
    background-color: var(--delete-btn-color); 
}

.floating-action-button{
    background-color: var(--primary-color);
    font-size: large;
}