.list-container{
    display: flex;
    row-gap: 2rem;
    align-items: flex-start;
    border-radius: 2rem;
    background-color: var(--secondary-container-color);
    flex-wrap: wrap; 
    flex-direction: column;
    padding: 2rem;
}

.list-line-height{
    line-height: 1.8rem;
}

.list-style{
    list-style: none;
}

.list-horizontal{
    display: flex;
    column-gap: 3rem;
    list-style: none;
}

.stacked-list-item{
    padding: 2rem;
    background-color: var(--secondary-container-color);
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
}