.navigation-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);
        padding: 0;
    }

.navigation-container div a{
    color: var(--secondary-color);
}

.navigation-container a{
    color: var(--secondary-color);
}

.nav-logo{
    font-family: var(--stylish-font);
    font-size:xx-large;
    padding-left: 1rem;
    padding: 0 1rem;
}

.nav-home, .nav-services, .nav-about{
    padding: 0;
}

