.rating-container{
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-container-color);
    flex-direction: column;
    padding: 2rem;
}

.rating-star-color{
    color: var(--rating-star-color);
}







