@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('./component-styles/index.css');

:root {
    --primary-color: #111827;          /* For text, buttons, component backgrounds (avatar background), logo */
    --secondary-color: #F3F4F6;       /* everywhere else you can think of */ /*and remaining will automatically be white*/
    --hover-color: #D1D5D8;
    --general-font: 'Arvo', serif;
    --stylish-font: 'Pacifico', cursive;
} 

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

a:hover{
    background-color: var(--hover-color);
    border-radius: 2rem;
}

body{
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: var(--general-font);
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    /* height: 100vh;
    position: relative; */
    /* min-height: 100%; */
    /* height: 100%; */
}

.content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 10px;
    /* justify-content: center; */
}

/* .language-html{
    display: flex;
    flex-wrap: wrap;
} */

.navigation{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100vw;
}

.sidebar-and-description{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    /* flex-grow: 1; */
    /* min-height: 100; */
}

.nav-links > span, .logo{
    padding: 0 2rem;
}

.logo{
    font-family: var(--stylish-font);
}


button{
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: large;
}

.sidebar{
    background-color: var(--secondary-color);
    padding: 0 2rem;
    line-height: 1.5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: var(--stylish-font);
    justify-self: flex-end;
    /* align-self: flex-end; */
    /* transform: translateY(6rem); */
    /* flex-grow: 1; */
}

.social-media-icon{
    height: 3rem;
    width: 3rem;
}

.get-started-page-content{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-started-page-content> h1{
    font-family: var(--stylish-font);
    font-size: 7rem;
    margin-bottom: 0;
}